@keyframes progress-heart {
  0% {
    transform: scale(0);
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(to bottom, white 100%, #FF79DA 0%, #9356DC 0%);
    background: -webkit-linear-gradient(to bottom, white 100%, #FF79DA 0%, #9356DC 0%);
    background: linear-gradient(to bottom, white 100%, #FF79DA 0%, #9356DC 0%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    transform: scale(1);
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(to bottom, white 80%, #FF79DA 10%, #9356DC 10%);
    background: -webkit-linear-gradient(to bottom, white 80%, #FF79DA 10%, #9356DC 10%);
    background: linear-gradient(to bottom, white 80%, #FF79DA 10%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.5);
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(to bottom, white 70%, #FF79DA 20%, #9356DC 10%);
    background: -webkit-linear-gradient(to bottom, white 70%, #FF79DA 20%, #9356DC 10%);
    background: linear-gradient(to bottom, white 70%, #FF79DA 20%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(2);
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(to bottom, white 0%, #FF79DA 50%, #9356DC 50%);
    background: -webkit-linear-gradient(to bottom, white 0%, #FF79DA 50%, #9356DC 50%);
    background: linear-gradient(to bottom, white 0%, #FF79DA 50%, #9356DC 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.localisation {
  width: 100%;
  text-align: center;
  background-color: #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-family: "Shrikhand", cursive;
}
.logo--scaleup {
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .logo--scaleup {
    font-size: 25px;
  }
}
.logo--white {
  font-size: 16px;
  color: white;
  padding-top: 32px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .logo--white {
    margin-left: 0px;
  }
}
.logo--bg-dark {
  background-color: #000;
  padding-bottom: 20px;
}

#restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}
@media screen and (max-width: 600px) {
  #restaurant {
    height: 1300px;
    flex-direction: column;
    justify-content: normal;
    margin: 0px;
  }
}
#restaurant > h2 {
  text-align: center;
}
@media screen and (max-width: 600px) {
  #restaurant > h2 {
    text-align: left;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    justify-content: normal;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#fonctionnement {
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  margin-left: 25px;
  padding-top: 50px;
}
#fonctionnement > h3 {
  margin-bottom: 16px;
}
#fonctionnement-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
}
#fonctionnement-bloc .fonctionnement-item {
  background-color: #eaeaea;
  width: 250px;
  height: 50px;
  border-radius: 18px;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  #fonctionnement-bloc .fonctionnement-item {
    width: 98%;
  }
}
#fonctionnement-bloc .fonctionnement-item--active {
  background-color: #e4d5f6;
}
#fonctionnement-bloc .fonctionnement-item-span {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  width: 32px;
  height: 32px;
  left: -16px;
  top: 8px;
  background-color: #9356DC;
  color: white;
}
#fonctionnement-bloc .fonctionnement-item-container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
#fonctionnement-bloc .fonctionnement-item-container--deactivated {
  padding-left: 30px;
  padding-right: 20px;
  color: #b7b7b7;
}

#i-last-child {
  padding-left: 30px;
  padding-right: 20px;
  color: #9356DC;
}

#introduction {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #introduction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}
#introduction-text > h2 {
  text-align: center;
  padding-bottom: 16px;
}
#introduction-text > p {
  margin-left: 20px;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  #introduction-text > p {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  #introduction-text > p {
    font-size: 16px;
    margin: 0px;
  }
}

#introduction-btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  padding-top: 15px;
  margin-left: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  text-decoration: none;
  background: -moz-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
}
#introduction-btn:hover {
  background: -moz-linear-gradient(top, #fface8, #ae80e5);
  background: -webkit-linear-gradient(top, #fface8, #ae80e5);
  background: linear-gradient(to bottom, #fface8, #ae80e5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  #introduction-btn {
    margin-top: 15px;
    margin-left: 0px;
  }
}

.card {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 250px;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
  }
}
.card p {
  margin-top: 2px;
  font-size: 16px;
}
.card-zone-img {
  height: 70%;
  overflow: hidden;
  position: relative;
}
.card-zone-img-textover {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #1b6150;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.card-zone-img > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: white;
}
.card-fas--disabled:active {
  animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-zone-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  margin-left: 10px;
}
.card-zone-text a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px) {
  .card-zone-text a {
    cursor: default;
  }
}
.card-zone-text-favi {
  font-size: 24px;
  padding-right: 20px;
  transition: 1s;
}
.card-zone-text-favi a:hover i {
  animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 600px) {
  .card-zone-text-favi a:hover {
    color: black;
    pointer-events: none;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #000;
  text-align: center;
  padding-bottom: 100px;
}
@media screen and (max-width: 600px) {
  footer {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 50px;
  }
}
footer ul {
  list-style-type: none;
}
footer li {
  font-weight: bold;
  padding-bottom: 8px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  footer li {
    margin-left: 0px;
  }
}
footer li i {
  margin-right: 15px;
}

@keyframes rotate-check {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#body {
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
}
#body .underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  text-decoration-color: #99E2D0;
  text-underline-offset: 8px;
}
#body h2 {
  text-transform: uppercase;
  font-weight: lighter;
  padding-left: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  #body h2 {
    font-size: 18px;
  }
}
#body p {
  font-size: small;
}

@keyframes appear-card {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  20% {
    opacity: 0.1;
    margin-top: 15px;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#nav_meal {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: white;
}
#nav_meal a {
  text-decoration: none;
  color: black;
}
#nav_meal i {
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  #nav_meal i {
    font-size: 25px;
  }
}
#nav_meal .logo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
#nav_meal .logo p {
  display: block;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  #nav_meal .logo p {
    font-size: 25px;
  }
}

.wrap {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
  }
}

#entree {
  padding-top: 40px;
  background-color: #eaeaea;
}
@media screen and (max-width: 600px) {
  #entree {
    padding-top: 0px;
    margin-top: 0px;
  }
}

#plat, #dessert, #commander {
  padding-top: 30px;
}

#titre_section .card {
  font-family: "Roboto", sans-serif;
  background-color: white;
  width: 100%;
  height: 500px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media screen and (max-width: 600px) {
  #titre_section .card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
#titre_section .card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: #eaeaea;
}
#titre_section .card-zone-text-favi {
  margin: 0px;
  padding: 20px;
  font-size: 25px;
}
#titre_section .card-zone-text-paragraphe {
  margin: 0px;
  padding: 0px;
}
#titre_section .card-zone-img {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#titre_section .card-zone-img-textover {
  position: absolute;
  top: 400px;
  left: 0px;
  width: 100%;
  background-color: #eaeaea;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100px;
  font-weight: bold;
  padding: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#titre_section .card-zone-img-textover .h1 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-weight: normal;
  font-family: "Shrikhand", cursive;
  color: black;
}
@media screen and (max-width: 600px) {
  #titre_section .card-zone-img-textover .h1 {
    padding-top: 20px;
    font-size: 22px;
  }
}
#titre_section .card-zone-img > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  object-fit: cover;
}

.card_menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  overflow: hidden;
  width: 40%;
  height: 80px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 15px;
  margin-top: 15px;
  animation: appear-card 3000ms;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out;
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .card_menu {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.card_menu:hover > .card_menu-check {
  width: 80px;
}
.card_menu:hover > .card_menu-check i {
  animation: rotate-check 1000ms;
}
.card_menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
  width: 80%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}
.card_menu-text h3 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 600px) {
  .card_menu-text h3 {
    font-size: 14px;
  }
}
.card_menu-text p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_menu-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: white;
}
.card_menu-price p {
  display: block;
}
.card_menu-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0px;
  height: 100%;
  transition: all 1s;
  background-color: #99E2D0;
}
.card_menu-check i {
  display: block;
  transition: transform 1000ms;
  transition-delay: 250ms;
  transform: rotate(0deg);
  font-size: 30px;
  color: white;
}

#commander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

#command-btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  text-decoration: none;
  background: -moz-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
}
#command-btn:hover {
  background: -moz-linear-gradient(top, #fface8, #ae80e5);
  background: -webkit-linear-gradient(top, #fface8, #ae80e5);
  background: linear-gradient(to bottom, #fface8, #ae80e5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  #command-btn {
    margin-top: 15px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
