//Variables
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-gray:#eaeaea;
$color-dark:#000;


//Functions


//Mixins
@mixin mix-btn( $color0:$colour-secondary,$color1:$colour-primary) {
    display:block;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(to bottom right, $color0, $color1);
    background: -webkit-linear-gradient(to bottom right, $color0, $color1);
    background: linear-gradient(to bottom right, $color0, $color1);
    color: white;
    border-radius: 30px;
    &:hover {
    background: -moz-linear-gradient(top, lighten($color0,10%), lighten($color1,10%) );
    background: -webkit-linear-gradient(top, lighten($color0,10%), lighten($color1,10%) );
    background: linear-gradient(to bottom, lighten($color0,10%) , lighten($color1,10%) );
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    }
   }

@mixin marge-rl {
    margin-left: 20px;
    @media screen and (max-width:600px) {
        
        margin-left: 0px;
    }

    
}

//keyframes

@keyframes intro-appear{
    0%{
       
        visibility:hidden;
        
    }
    99%{
        
        visibility:hidden;
       
    }
    100%{
        
        visibility:visible;
       
    }
}

@keyframes intro-disappear{
    0%{
       
        visibility:visible;
    }
    98%{
        
        visibility:visible;
        font-size: 40px;
    }
    99%{
        
        visibility:visible;
        font-size: 0;
        height:2000px;

    }
    100%{
        
        visibility:hidden;
        height:0;
        font-size: 0;

    }
}

@keyframes intro-text-anim{
    from{
        transform: scale(1);
        color:white;
      
        
    }
    to{
        transform: scale(1.5);
        color:gray;
        padding-top: 200px;
        text-decoration:underline;
        
    }
}


@keyframes progress-heart{
    0% {
        transform: scale(0);
        -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(to bottom,white 100%, $colour-secondary 0%, $colour-primary 0%);
            background: -webkit-linear-gradient(to bottom,white 100%, $colour-secondary 0%, $colour-primary 0%);
            background: linear-gradient(to bottom,white 100%, $colour-secondary 0%, $colour-primary 0%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    20% {
        transform: scale(1);
        -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(to bottom,white 80%, $colour-secondary 10%, $colour-primary 10%);
            background: -webkit-linear-gradient(to bottom,white 80%, $colour-secondary 10%, $colour-primary 10%);
            background: linear-gradient(to bottom,white 80%, $colour-secondary 10%, $colour-primary 10%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }


    50% {
        transform: scale(1.5);
        -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(to bottom,white 70%, $colour-secondary 20%, $colour-primary 10%);
            background: -webkit-linear-gradient(to bottom,white 70%, $colour-secondary 20%, $colour-primary 10%);
            background: linear-gradient(to bottom,white 70%, $colour-secondary 20%, $colour-primary 10%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }



    100% {
        transform: scale(2);
        -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(to bottom,white 0%, $colour-secondary 50%, $colour-primary 50%);
            background: -webkit-linear-gradient(to bottom,white 0%, $colour-secondary 50%, $colour-primary 50%);
            background: linear-gradient(to bottom,white 0%, $colour-secondary 50%, $colour-primary 50%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}
// intro
#intro_launch{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    animation: intro-disappear 5000ms;
    animation-fill-mode: forwards;
    background-color: black;
    height: 2000px;

    &-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 5px;
    }
    & p{
        display: block;
        animation:intro-text-anim 4000ms infinite;
        color: white;
        text-shadow: 0 0 15px gray, 0 0 25px whitesmoke;
    }
    @for $i from 1 through 8 {
        & p:nth-child(#{$i}){
            animation-delay: $i * 400ms;

            
            
        }
    }


}
#first_page{
    
    animation: intro-appear 5000ms;
    animation-fill-mode: forwards;
}
//selecteurs
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

  }

  body, html{
    width: 100%;
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;

}

.localisation{
    width: 100%;
    text-align: center;
    background-color: $colour-gray;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.logo{
    font-family: 'Shrikhand', cursive;
    
    &--scaleup{
        font-size: 40px;
        @media screen and (max-width:600px) {
            font-size: 25px;
        }

    }
    &--white{
        font-size: 16px;
        color:white;
        padding-top: 32px;
        @include marge-rl();
    }
    &--bg-dark{
        background-color: $color-dark;
        padding-bottom: 20px;
    }
}
#restaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    font-family: 'Roboto', sans-serif;
    background-color:lighten($colour-gray, 5%) ;
    @media screen and (max-width:600px) {
        height: 1300px;
        flex-direction: column;
        justify-content:normal;
        margin: 0px;
    }

    &>h2{
        text-align: center;
        @media screen and (max-width:600px) {
            text-align: left;
            margin-left: 10px;
            padding-top: 30px;
            padding-bottom: 15px;
        }
    }
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width:600px) {
        flex-direction: column;
        justify-content:normal;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#fonctionnement{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    margin-left: 25px;
    padding-top: 50px;

    & > h3{
        margin-bottom: 16px;
        
    }

    &-bloc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-right: 15px;
        

        & .fonctionnement-item{
            background-color: $colour-gray;
            width: 250px;
            height: 50px;
            border-radius: 18px;
            position: relative;
            margin-bottom: 20px;
            font-weight: bold;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            @media screen and (max-width:600px) {
                width:98%
            }

            &--active{
                background-color: lighten($colour-primary, 30%);
                
            }
            
            &-span{
                position: absolute;
                border-radius: 50%;
                text-align:center;
                padding-top: 5px;
                width: 32px;
                height: 32px;
                left:-16px;
                top:8px;
                background-color: $colour-primary;
                color:white;
            }

            &-container{
                display: flex;
                flex-direction: row;
                padding-top: 15px;
                

                &--deactivated{
                    padding-left: 30px;
                    padding-right: 20px;
                    color:darken($colour-gray, 20%);
                    
                }





            }

        }
    }

}

#i-last-child{
    padding-left: 30px;
    padding-right: 20px;
    color:$colour-primary;
    
    
}


#introduction{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:lighten($colour-gray, 5%);
    width: 100%;
    @media screen and (max-width:600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0px;
    }


    &-text>h2{
        text-align: center;
        padding-bottom: 16px;
    }

    &-text>p{
        @include marge-rl();
        text-align: center;
        font-size: 18px;
        @media screen and (max-width:600px) {
            font-size: 16px;
            margin: 0px;
        }
    }
    
}
#introduction-btn{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    padding-top:15px;
    margin-left:200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    @include mix-btn($colour-secondary,$colour-primary);
    
    @media screen and (max-width:600px) {
        margin-top: 15px;
        margin-left: 0px;
    }
}

//card
.card{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    height:250px;
    @media screen and (max-width:600px) {
        width: 100%;
        height:270px;
        margin-bottom: 20px;
    }
    

    & p{
        margin-top: 2px;
        font-size: 16px;
    }
    
    &-zone-img{
        height: 70%;
        overflow:hidden;
        position:relative;

        &-textover{
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $colour-tertiary;
            color: darken($colour-tertiary,50%);
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            font-weight: bold;
            
        }

        & > img{
            height:100%;
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            
            
        }


    }

    &-fas--disabled{
        -webkit-text-stroke: 1px black;
        color: white;



        &:active{

            animation: progress-heart 1000ms;
            -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(top, $colour-secondary 0%, $colour-primary 100%);
            background: -webkit-linear-gradient(top, $colour-secondary 0%, $colour-primary 100%);
            background: linear-gradient(to bottom, $colour-secondary 0%, $colour-primary 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
    
        }



    }



    &-zone-text{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        padding-top: 15px;
        margin-left: 10px;

        & a{
            text-decoration: none;
            color:black;
            @media screen and (max-width:600px) {
                cursor:default;
            }

        }
        
        &-favi{
            font-size: 24px;
            padding-right: 20px;
            transition: 1s;

            & a:hover{
                & i{
                    
                    animation: progress-heart 1000ms;
                    -webkit-text-stroke: 0px ;
                    background: -moz-linear-gradient(top, $colour-secondary 0%, $colour-primary 100%);
                    background: -webkit-linear-gradient(top, $colour-secondary 0%, $colour-primary 100%);
                    background: linear-gradient(to bottom, $colour-secondary 0%, $colour-primary 100%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;

                }

                @media screen and (max-width:600px) {
                    color:black;
                    pointer-events: none;
                 
                }
    
            }
            

        }
    }






}

footer{
    font-family: 'Roboto', sans-serif;
    color:white;
    background-color: $color-dark;
    text-align: center;
    padding-bottom: 100px;
    @media screen and (max-width:600px) {
        text-align: left;
        padding-left: 15px;
        padding-bottom: 50px;
    }
    
    & ul{
        list-style-type: none;
    }

    & li{
        font-weight: bold;
        padding-bottom:8px ;
        @include marge-rl();

        & i{
            margin-right: 15px;
        }
    }
}

//page type 2
//variable

//keyframe
@keyframes rotate-check{
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }


    90% {
        transform: rotate(360deg);
    }



    100% {
        transform: rotate(360deg);
    }
}
//mixin
#body{
    
    background-color: $colour-gray;
    font-family: 'Roboto', sans-serif;

    & .underline{
        text-decoration-line: underline;
        text-decoration-style:solid;
        text-decoration-thickness: 4px;
        text-decoration-color: $colour-tertiary;
        text-underline-offset: 8px;
    }

    & h2{
        text-transform: uppercase;
        font-weight: lighter;
        padding-left: 15px;
        padding-bottom: 15px;
        @media screen and (max-width:600px) {
        font-size: 18px;
        }
    }

    & p{
        font-size: small;
    }
}

@keyframes appear-card {
    0%{

        opacity: 0;
        margin-top: 25px;
    }
    20%{
        opacity: 0.1;
        margin-top: 15px;
    }
    40%{
        opacity: 0.2;
       
    }
    60%{
        opacity: 0.6;
        
    }
    80%{
        opacity: 0.8;
        
    }
    100%{
        opacity: 1;
        
    }
    
}

#nav_meal{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color:white;

    & a{
        text-decoration: none;
        color:black;
    }
    & i{

        font-size: 30px;
        @media screen and (max-width:600px) {
            font-size: 25px;
        }
    }
    & .logo{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        & p{
            display: block;
            font-size:40px;
            @media screen and (max-width:600px) {
                font-size: 25px;
            }
        }

    }

}

.wrap{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width:600px) {
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;

    }
}

#entree{
    padding-top: 40px;
    background-color: $colour-gray;
    @media screen and (max-width:600px) {
        padding-top: 0px;
        margin-top: 0px;

    }
    
    
}


#plat,#dessert,#commander{
    padding-top: 30px;

}

#titre_section{


    
    .card{
        font-family: 'Roboto', sans-serif;
        background-color: white;
        width: 100%;
        height:500px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        @media screen and (max-width:600px) {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

        }

        &-fas--disabled{
            -webkit-text-stroke: 1px black;
            color: $colour-gray;}
        

        &-zone{
            &-text-favi{
                margin: 0px;
                padding: 20px;
                font-size: 25px;

                
                
            }

            &-text-paragraphe{
                margin: 0px;
                padding: 0px;

                
            }
        }

        &-zone-img{
            height: 100%;
            overflow:hidden;
            position:relative;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;



           
    
            &-textover{
                position: absolute;
                top: 400px;
                left: 0px;
                width: 100%;
                background-color: $colour-gray;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                height: 100px;
                font-weight: bold;
                padding: 0px;
                padding-top: 20px;
                padding-right: 20px;
                padding-left: 20px;
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                

                & .h1{
                    margin: 0px;
                    padding: 0px;
                    font-size: 40px;
                    font-weight:normal;
                    font-family: 'Shrikhand', cursive;
                    color: black;

                    @media screen and (max-width:600px) {
                        padding-top: 20px;
                        font-size: 22px;
                    }
                }
                
            }
    
            & > img{
                height:100%;
                width: 100%;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                object-fit: cover;
                
                
            }
        }
    }

}

.card_menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    width: 40%;
    height: 80px;
    
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin: 15px;
    margin-top: 15px;
    animation: appear-card 3000ms;
    animation-timing-function: ease-in-out;
    opacity: 0;

    @media screen and (max-width:600px) {
        width: 95%;
        margin-left: 5px;
        margin-right: 5px;

    }

    

    &:hover > .card_menu-check{
        width: 80px;
        & i{
            animation: rotate-check 1000ms;
            
            
        }
    }

    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 10px;
        width: 80%;
        height: 100%;
        background-color:white;
        overflow: hidden;
        white-space: nowrap;     

        & h3{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width:600px) {
                font-size: 14px;
            }

        }

        & p{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;

        }

    }

    &-price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        height: 100%;;
        background-color:white;
        & p{
            display: block;
        }

    }

    &-check{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0px;
        height: 100%;
        transition: all 1s;
        background-color:$colour-tertiary;
        & i{
            display: block;
            transition: transform 1000ms;
            transition-delay: 250ms;
            transform: rotate(0deg);
            font-size: 30px;
            color:white
        }

    }

    @for $i from 1 through 4 {
        &:nth-child(#{$i}){
            animation-delay: $i * 250ms;
            animation-fill-mode: forwards;
            
        }
    }


}





#commander
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
}
#command-btn{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    padding-top:15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    @include mix-btn($colour-secondary,$colour-primary);
    
    @media screen and (max-width:600px) {
        margin-top: 15px;
        margin-left: 0px;
    }
}
